%% vim: ts=4 sw=4 et ft=erlang
{deps, [
    nitrogen_core,
    {sigma_yesno, {git, "https://github.com/choptastic/sigma_yesno", {branch, master}}},
    {time_dropdown, {git, "https://github.com/choptastic/time_dropdown", {branch, master}}}
]}.

{pre_hooks,[
    {"linux|bsd|darwin|solaris", compile, "escript priv/compat.escript"},
    {"win32", compile, "escript.exe priv\\compat.escript"}
]}.
