%% vim: ts=4 sw=4 et ft=erlang
{deps, [
    {sigma_yesno, "", {git, "git://github.com/choptastic/sigma_yesno", {branch, master}}},
    {time_dropdown, "", {git, "git://github.com/choptastic/time_dropdown", {branch, master}}}
]}.

{pre_hooks,[
    {"linux|bsd|darwin|solaris", compile, "escript ./compat.escript"},
    {"win32", compile, "escript.exe compat.escript"}
]}.
